openapi: 3.0.0
info:
  title: Expense API
  version: "1.0"
servers:
  - url: https://api.skwabbl.com
paths:
  /groups/{groupID}/expenses:
    get:
      summary: Get group expenses
      operationId: getGroupExpenses
      tags:
        - expenses
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: A list of expenses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findExpensesResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      security:
        - bearerAuth: []
  /expenses/{expenseID}:
    get:
      summary: Get an expense
      operationId: getExpense
      tags:
        - expenses
      parameters:
        - name: expenseID
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Details of an expense
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      security:
        - bearerAuth: []
    patch:
      summary: Update an expense
      operationId: updateExpense
      tags:
        - expenses
      parameters:
        - name: expenseID
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
      responses:
        '200':
          description: Expense updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      security:
        - bearerAuth: []
  /expenses:
    post:
      summary: Create an expense
      operationId: createExpense
      tags:
        - expenses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExpense'
      responses:
        '201':
          description: Expense created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      security:
        - bearerAuth: []
  /items:
    post:
      summary: Create an item
      operationId: createItem
      tags:
        - items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewItem'
      responses:
        '201':
          description: Item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      security:
        - bearerAuth: []
components:
  schemas:
    findExpensesResponse:
      type: object
      properties:
        Expenses:
          type: array
          items:
            $ref: '#/components/schemas/Expense'
        N:
          type: integer
    Expense:
      type: object
      properties:
        expense_id:
          type: integer
        group_id:
          type: integer
        split_type_id:
          type: integer
        paid_by:
          type: string
        amount:
          type: number
        description:
          type: string
        timestamp:
          type: string
          format: date-time
        created_by:
          type: string
        updated_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        share_url:
          type: string
          description: URL of the webpage to share this expense with friends.
    NewExpense:
      type: object
      properties:
        group_id:
          type: integer
        split_type_id:
          type: integer
        paid_by:
          type: string
        amount:
          type: number
        description:
          type: string
        timestamp:
          type: string
          format: date-time
    UpdateExpense:
      type: object
      properties:
        group_id:
          type: integer
        paid_by:
          type: string
        amount:
          type: number
        description:
          type: string
        timestamp:
          type: string
          format: date-time
    NewItem:
      type: object
      properties:
        name:
          type: string
        price:
          type: number
        quantity:
          type: integer
        splits:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
              initials:
                type: string
    Item:
      type: object
      properties:
        item_id:
          type: integer
        name:
          type: string
        price:
          type: number
        quantity:
          type: integer
    Error:
      type: object
      properties:
        Code:
          type: integer
        Message:
          type: string

  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
